* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #393f4d;   
}

a {
    color: #dd579a;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .title {
        text-align: center;
    }
    body {
        font-size: 1rem;
        letter-spacing: 2px;
        color: #fff;
    }
    #text-change {
        display: none;
    }
    .bodyImage {
        padding-top: 20px;
    }
    .container {
        margin: auto;
    }
    input[type=submit] {
        width: 90%;
        background-color: #dd579a;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        padding: 14px 0;
        margin-top: 10px;
        font-weight: bold;
        letter-spacing: 4px;
    }
    .text {
        font-size: 0.9rem;
        padding: 0 15px;
    }
    .title > h1 {
        font-weight: 700;
        font-size: 3rem;
        color: #dd579a;
    }
}

@media (min-width: 600px) {
    html {
        box-sizing: border-box;
    }
    body {
        color: #fff;
    }
    .title {
        text-align: center;
        color: #dd579a;
    }
    .title > h1 {
        font-weight: 700;
        font-size: 3rem;
        color: #dd579a;
    }
    .container {
        margin: 0 auto;
        padding: 25px;
    }
    h3.title {
        font-size: 1.5em;
    }
    .text {
        font-size: 1rem;
        padding: 0 15px;
    }
    .text p a {
        font-weight: bold;
    }
    .text p a:hover {
        font-weight: 900;
    }
    .wrapper {
        min-width: 500px;
    }
    #text-change {
        padding-top: 5px;
        font-size: 0.5em;
        color: #fff;
    }
    input[type=email], [type=password] {
        display: inline-block;
        border: 2px solid #ccc;
        border-radius: 4px;
        width: 100%;
        padding: 12px 0px;
        outline: none;
    }
    input[type=submit] {
        width: 90%;
        background-color: #dd579a;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        padding: 12px 0;
        font-weight: bold;
        letter-spacing: 4px;
    }
}

@media (min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 400px 450px;
        grid-gap: 20px;
        top: 120px;
    }
    .bodyImage {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0% / cover no-repeat, url(../images/background-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        padding-top: 100px;
    }
    .title {
        text-align: center;
        color: #dd579a;
        letter-spacing: 3px;
        font-weight: 800;
    }
    .title-text {
        font-family: 'Righteous', cursive;
        font-size: 4em;
        line-height: 15px;
    }
    .title > h1 {
        font-weight: 700;
        font-size: 2rem;
        color: #dd579a;
    }
    .title-padding-top {
        padding-top: 20px;
    }
    #text-change {
        padding-top: 5px;
        font-size: 0.5em;
        height: 150px;
        color: #fff;
        line-height: 35px;
        font-weight: normal;
    }
    .wrapper > form > p > a {
        color: #fff
    }
    .wrapper > form > p > a:hover {
        color: #dd579a;
    }
    .text > p > a:hover {
        color: #c75d92;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 1200px) {
    .bodyImage {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0% / cover no-repeat, url(../images/background-image.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100vh;
        overflow: hidden;
        padding-top: 100px;
    }
    body {
        background-color: #393f4d;
    }
    .container {
        display: grid;
        grid-template-columns: 700px 500px;
        grid-gap: 50px;
        top: 120px;
    }
}

.title-text {
    font-family: 'Righteous', cursive;
    font-weight: 800;
    font-size: 5rem;
    line-height: 15px;
}

.form-padding-bottom {
    padding-bottom: 10px;
}

.form-style {
    padding-left: 20px;
}

.border-outline:focus {
    border: 2px solid #c75d92;
}

input[type=email], [type=password], [type=text], [type=date], [type=tel] {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 90%;
    margin-top: 10px;
    padding: 12px 20px;
    outline: none;
}

input[type=submit] {
    width: 90%;
    background-color: #dd579a;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 14px 0;
    margin-top: 10px;
}

input[type=submit]:hover {
    background-color: #c75d92;
}

input[type=checkbox] {
    margin-top: 10px;
    cursor: pointer;
}
