* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #393f4d;
    margin: 0 auto;
}

h3.title {
    padding-top: 10px;
}

@media (max-width: 600px) {
    body {
        color: #fff;
    }
    .bodyImage {
        padding-top: 20px;
    }
    .title-padding-top {
        padding-top: 20px;
    }
}

@media (min-width: 600px) {
    body {
        background-color: #393f4d;
    }
    .wrapper {
        overflow: hidden;
        background-color: #f2f2f2;
        margin: 70px 90px;
    }
    .wrapper-border {
        border-radius: 8px;
    }
    
    .bodyImage {
        padding: 50px 40px 0 40px;
    }
    input[type=submit] {
        width: 90%;
        background-color: #dd579a;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        padding: 14px 0;
        margin-top: 10px;
        font-size: 2rem;
    }
    .title-padding-top {
        padding-top: 20px;
    }
}

@media (min-width: 900px) {
    body {
        background-color: #393f4d;
    }
    .wrapper {
        overflow: hidden;
        background-color: #f2f2f2;
    }
    .wrapper-border {
        border-radius: 8px;
    }
    .bodyImage {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0%, url(../images/background-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        padding-top: 10px;
        margin: 20px 40px 30px 40px;
    }
    input[type=submit] {
        border-radius: 8px;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 5px;
    }
    input[type=email], [type=password], [type=text], [type=date], [type=tel] {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 5px;
    }
}

@media (min-width: 1200px) {
    .bodyImage {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 0% 0% / cover no-repeat, url(../images/background-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    body {
        background-color: #393f4d;
        margin: 0 auto;
    }
    input[type=submit] {
        border-radius: 8px;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 5px;
    }
    input[type=email], [type=password], [type=text], [type=date], [type=tel] {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 5px;
        width: 50%;
        margin-top: 10px;
        padding: 20px 80px;
    }
    /* .bodyImage {
        margin: 70px 80px 70px 80px;
    } */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
    }
    .wrapper {
        overflow: hidden;
        background-color: #f2f2f2;
        margin: 0 auto;
        max-width: 550px;
    }
    .wrapper-border {
        border-radius: 8px;
    }
}

a {
    color: #dd579a;
    text-decoration: none;
    cursor: pointer;
}

.title {
    text-align: center;
}

/*****FORM STYLE*****/
.form-padding-bottom {
    padding-bottom: 10px;
}

form {
    font-size: 0.75rem;
}

.border-outline:focus {
    border: 2px solid #c75d92;
}

input[type=email], [type=password], [type=text], [type=date], [type=tel] {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 90%;
    margin-top: 10px;
    padding: 12px 20px;
    outline: none;
}

input[type=submit] {
    width: 90%;
    background-color: #dd579a;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 14px 0;
    margin-top: 10px;
    font-size: 1rem;
}

input[type=submit]:hover {
    background-color: #c75d92;
}

input[type=checkbox] {
    margin-top: 10px;
    cursor: pointer;
}
